.logoInHead {
    color: grey;
}

.logoInHead:hover {
    color: red !important;
}

.modalBtn {
    background-color: white;
    color: red;
    padding: 10px;
    border: solid 3px red;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    font-size: 18px
}

.modalBtn:hover {
    background-color: red;
    color: white;
    border: none;
}

#cantCheckOutBtn {
    background-color: white;
    color: red;
    padding: 10px;
    border: none;
    border-radius: 10px;
    height: 50px;
    font-size: 18px
}